.mixin.out/
coremods/
crash-reports/
local/
logs/
modernfix/
patchouli_books/
resourcepacks/
schematics/
screenshots/
server-resource-packs/
shaderpacks/
simplebackups/
texturepacks/
XaeroWaypoints/
XaeroWaypoints*/
ds_private_storage.json
observable_announce
patchouli_data.json
rhino.local.properties